DocumentOrganiser-Backend/src/main/resources/application-dev.properties
DocumentOrganiser-Backend/src/main/resources/application-prod.properties
AWS-DEPLOYMENT-GUIDE.md
*.env
backend.env
frontend.env
